
openbb
openbb_ai
fastapi
uvicorn
python-dotenv
sse-starlette
openai
httpx
beautifulsoup4
duckduckgo-search
pydantic
requests
chardet
lxml
numpy
pandas
scipy
py-readability-metrics
urlextract
feedparser
langchain
tiktoken
unstructured
playwright
trafilatura
plotly